<!doctype html>
<html>
<head>
    <title>Book List</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Book List</h1>
    <table border="1" id="book-table">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Book Title</th>
                <th>Author</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            <!-- 書籍數據將動態添加到這裡 -->
        </tbody>
    </table>
    <button id="refresh-button">Refresh Data</button>
</body>
</html>
