/* 全局樣式 */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* 頁面標題 */
header h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* 區塊標題 */
main h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* 文字段落 */
p {
    text-align: center;
}

/* 鏈接 */
a {
    color: #4CAF50;
    text-decoration: none;
}

/* 鏈接懸停效果 */
a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td input,
td select {
    padding: 8px 0px 8px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* ----表單樣式---- */

/* 表單容器 */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 表單組 */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

/* 表單標籤 */
.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* 表單輸入框 */
.form-group input,
.form-group textarea,
.form-group select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* 禁用輸入框樣式 */
.form-group input[readonly], .form-group textarea[readonly], .form-group select[disabled] {
    background-color: #f0f0f0;
    color: #666;
}

/* 文本框特定樣式 */
.form-group textarea {
    height: 100px;
    resize: none;
}

/* ----錯誤消息樣式---- */
.error-message {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* ----表格樣式---- */

/* 表格容器 */
#job-table,
#user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* 表格頭部單元格 */
#job-table th, #job-table td,
#user-table th, #user-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* 表格頭部樣式 */
#job-table th,
#user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* 偶數行樣式 */
#job-table tbody tr:nth-child(even),
#user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#job-table tbody tr.job-inactive{
    background-color: #f8d7da; /* 使用 Bootstrap 紅色警告背景色 */
}


/* 表格內按鈕樣式 */
#job-table button,
#user-table button {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    width: 100%;
}

/* 表格內輸入框樣式 */
#job-table input,
textarea,
select,
#user-table input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* ----按鈕樣式---- */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

/* 按鈕懸停效果 */
button:hover {
    background-color: #45a049;
}

/* 特定按鈕樣式 */
button.delete-button,
button.cancel-button {
    background-color: #f44336; /* 紅色 */
}

button.delete-button:hover,
button.cancel-button:hover {
    background-color: #e53935;
}

button.edit-button {
    background-color: #2196F3; /* 藍色 */
}

button.edit-button:hover {
    background-color: #1e88e5;
}

/* 按鈕容器樣式 */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 40%;
    width: 400px;
}

/* 左上角按鈕 */
.left-up-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 刷新按鈕 */
#refresh-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ----加載指示器樣式---- */
#loading-indicator {
    text-align: center;
    font-size: 1.5em;
    color: #4CAF50;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#loading-indicator.show {
    visibility: visible;
    opacity: 1;
}

/* ----收藏星星樣式---- */
.favorite-star {
    cursor: pointer;
    font-size: 24px;
}

.favorite-star.favorite {
    color: gold;
}

/* ----選單樣式---- */
#filter-options {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; /* 選單置中 */
}

#filter-options div {
    display: inline-block;
    margin-right: 20px;
}

#filter-options label {
    margin-right: 5px;
    font-weight: bold; /* 讓標籤加粗以增加可讀性 */
}

#filter-options select {
    width: 150px;
    padding: 5px; /* 增加內邊距讓選單看起來更美觀 */
    border-radius: 5px; /* 圓角邊框 */
    border: 1px solid #ccc; /* 淺灰色邊框 */
    outline: none; /* 移除默認的藍色外框 */
}

/* 搜尋容器樣式 */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* 搜尋輸入框 */
#search-input {
    display: block;
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
}

/* 搜尋按鈕 */
#search-button {
    max-width: 100px;
}

.notice {
    font-size: 20px;
    color: red;
    text-align: center;
}